/* You can add global styles to this file, and also import other style files */

$cs-light: rgba(5, 26, 98, 0.2);
$cs-dark: rgba(5, 26, 98, 0.4);

.cs-bg-light {
  background-color: $cs-light;
}

.cs-bg-dark {
  background-color: $cs-dark;
}

.cs-border-light {
  border-radius: var(--bs-border-radius);
  border: 1px solid $cs-light;
}

.cs-border-dark {
  border-radius: var(--bs-border-radius);
  border: 1px solid $cs-dark;
}

.cs-badge {
  padding: 10px;
  border-radius: var(--bs-border-radius);
  word-wrap: break-word;
}

.cs-link {
  color: purple;
  cursor: pointer;
}
