<div class="row justify-content-between align-items-center">
  <div [class.col-md-3]="showSubject" [class.d-none]="!showSubject" class="cs-badge">{{ subject }}</div>
  <div [class.col-md-3]="showSubject" [class.col-md-4]="!showSubject" class="cs-badge">{{ predicate }}</div>
  <div [class.col-md-3]="showSubject" [class.col-md-6]="!showSubject" class="cs-badge">{{ object }}</div>
  <div class="col-md-1">
    <button *ngIf="isEditable" class="btn btn-outline-warning">Edit</button>
  </div>
</div>

